//
   Created by Michael on 30-10-2014.
extends layout
block content
    h2 All Categories
    ol
        div.container
            div.col-md-12
                table.table.table-striped.table-hover.table-bordered
                    thead
                            tr
                                th ID
                                th name
                                th description
                        each s in categories
                            tr
                                td
                                    a(href='./partials/categorydetail/' + s.id) #{s.id}
                                    td= s.name
                                    td= s.description