extends layout
block content
    h2 All Orders
    ol
        div.container
            div.col-md-12
                table.table.table-striped.table-hover.table-bordered
                    thead
                        tr
                            th ID
                            th Date
                            th Name
                            th Address
                            th Edit
                            th Delete
                    each s in orders
                        tr
                            td
                                a(href='./partials/orderdetail/' + s.id) #{s.id}
                            td= s.orderDate
                            td= s.shipName
                            td= s.shipAddress
                            td(style='text-align: center;')
                                a(href='./partials/edit/' +s.id)
                                    span.glyphicon.glyphicon-pencil
                            td(style='text-align: center;')
                                a(href='./partials/orders/delete/' + s.id) 
                                    span.glyphicon.glyphicon-remove
                                    