extends layout
block content
    h2 All Members
    ol
        div.container
            div.col-md-12
                table.table.table-striped.table-hover.table-bordered
                    thead
                        tr
                            th ID
                            th Name
                            th Address
                        each s in orders
                            tr
                                td
                                    a(href='./orderdetails/' + s.id) #{s.id}
                                td= s.orderDate
                                td= s.shipName
                                td= s.shipAddress


