doctype html
html
  head
    title= title
    //link(href="/images/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/toastr.min.css')
    link(rel='stylesheet', href='/css/site.css')
  body
    block menu
    block content
    block footer
    include scripts